body {
    background-color: black;
    color: aliceblue;
}

img#my-pic {
    margin: 10px 10px 30px 0px;
    }


p#my-bio {
    width: 500px;
}

aside#publications {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
    padding: 30px 10px 800px 10px;
    /*height: 100%;*/
    background-color:darkslategrey;
    vertical-align: top;
    display: table-cell;
}

header > h2 {
    font-weight: bold;
}

.links ol {
    list-style-type: none;
}

.link {
    display: inline-block;
}

a:hover {
    background-color: lightslategray;
    color: navy;
    font-style: bold;
}







